/* DateBar.css */
.date-bar-container {
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  padding: 16px 8px 8px 8px;
}

.date-bar-day {
  width: 40px; /* Ajusta el tamaño del círculo */
  height: 40px; /* Ajusta el tamaño del círculo */
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  margin: 5px; /* Espacio entre círculos */
  min-width: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold; /* Aplica negrita a los nombres de los días */
  display: flex;
  flex-direction: column; /* Cambia a columna */
  align-items: center; /* Centra el contenido */
  justify-content: center;
  position: relative;
}

.date-bar-day:hover {
  background-color: #d0d0d0;
  
}

.date-bar-button:hover {
    color: #d5b143; /* Cambio de color al pasar el ratón */
  }

.date-bar-button {
  background-color: transparent; /* Fondo transparente para que resalten los iconos */
  border: none;
  color: black;
  font-size: 30px; /* Tamaño del icono */
  cursor: pointer;display: flex;
  align-items: center;
}
      
.date-bar-button:hover {
  color: #d5b143; /* Cambio de color al pasar el ratón */
}

.date-bar-day.currentDay {
  background-color: rgb(60, 60, 60, 0.6); /* Color de fondo para el día seleccionado */
  color: white; /* Color del texto */
  font-weight: bold;
}

.date-bar-day.selectedDay {
  background-color: rgba(216, 189, 101, 0.7); /* Color de fondo para el día seleccionado */
  color: white; /* Color del texto */
  font-weight: bold;
}

.IconCheck {
    background-color: green;
    color: white;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -4px;
    right: 0px;
}


.text-date {
  height: 16px;
  display: flex;
  align-items: center;
}

.felicitaciones {
  background-color: rgba(41, 187, 90, 0.658);
  
}