/* DateBar.css */
.date-bar-container {
  background-color: #FFFBE6;
  box-shadow: 0px 2px 12px #A5A5A5;
  border-style: solid;
  border-width: thin;
  border-color: #F6E96B;
  margin-bottom: 16px;
  border-radius: 16px;
  display: flex;
  justify-content: space-evenly;
}

.date-bar-day {
  width: 52px; /* Ajusta el tamaño del círculo */
  height: 52px; /* Ajusta el tamaño del círculo */
  border-radius: 50%;
  background-color: #e0e0e0;
  margin: 5px; /* Espacio entre círculos */
  min-width: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold; /* Aplica negrita a los nombres de los días */
  display: flex;
  flex-direction: column; /* Cambia a columna */
  align-items: center; /* Centra el contenido */
  justify-content: center;
}

.date-bar-day:hover {
  background-color: #d0d0d0;
  
}

.date-bar-button:hover {
    background-color: #d5b143; /* Cambio de color al pasar el ratón */
  }

.date-bar-button {
  background-color: transparent; /* Fondo transparente para que resalten los iconos */
  border: none;
  color: rgb(177, 175, 175); /* Color del icono */
  font-size: 30px; /* Tamaño del icono */
  cursor: pointer;
}
      
.date-bar-button:hover {
  color: #d5b143; /* Cambio de color al pasar el ratón */
}

.date-bar-day.selected {
  background-color: rgb(177, 175, 175); /* Color de fondo para el día seleccionado */
  color: white; /* Color del texto */
  font-weight: bold;
}

.text-date {
  height: 16px;
  display: flex;
  align-items: center;
}