.react-calendar {
    margin: 0;
    width: 100%;
    max-width: 560px;
    font-size: 30px;
}

.react-calendar button {
    padding: 5px;
}

.react-calendar__navigation,
.react-calendar__month-view,
.react-calendar__month-view div,
.react-calendar__viewContainer {
    width: 560px;
}

.react-calendar-navigation-label {
    font-size: 32px;
}

.completado{
    background-color: blue !important;
}
