.NavBar {
    background-color: transparent;
    height: 48px;
    box-shadow: 0px 2px 12px #A5A5A5;
    display: flex;
    flex-direction: row;   
    justify-content: space-between;
    position: relative;
    z-index: 1;
  }

  .LogoContainer {
    display: flex;
    align-items: center;
    margin: 8px 8px 8px 16px;
    height: 32px;
    cursor: pointer;    
  }

  .Logo {
    max-height: 40px;
    max-width: 40px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    margin-right: 16px;  
  }

  .GraficsContainer {
    display: flex;
    align-items: center;
    margin-right: 16px;
  }

  .GraficsIcon, .MenuIcon, .UserIcon{
    height: 30px;
    width: 30px;
    margin-right: 16px;
    cursor: pointer;
  }