.HabitList {
	background-color: transparent;
	margin: 0;
	padding: 24px 0 52px 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	max-height: 320px;
	overflow: scroll;
	overflow-x: hidden;
}

.HabitList::-webkit-scrollbar {
	display: none;
}
@media (max-width: 600px) {
	.HabitList {
		padding: 8px 0 52px 0;
	}
}
