.habitItem {
    background-color: white;
    height: 48px auto;
    border-radius: 16px;
    margin: 20px 60px 0px 60px; 
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.habitItem--completed {
    background: linear-gradient(90deg,#ffffff,#fffb29,#f4aa34);
    transition: background-color 1s;
    border-left: 4px solid green;
}

#textHabit {
    margin: 8px 0 8px 8px;
    width: calc(100% - 124px);
    font-size: 18px;
    display: flex;
    flex-direction: column;
}



.buttonCheck {
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50%;
    border-color: #F6E96B;
    margin-left: 8px;
    cursor: pointer;
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonCheck--incomplete:hover {
    color: #387F39;
    border-color: #387F39;
    transition: border-color 1s;
}

.buttonDelete, .buttonEdit {
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    border: none;
    height: 16px;
    width: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonDelete {
    margin: 0 8px 0 12px;
}

.buttonEdit {
    margin-left: 16px;
}

.buttonDelete--complete {
    color: black;
}

.buttonDelete:hover {
    transform: rotate(180deg);
    transition: transform 0.7s;
}

