#root {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 0;
  border-radius: 16px;
  background-color: #F2F4F5;
}



.Navigation {
  background-color: aqua;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}
