:root {
  font-family: system-ui;
  
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

div {
  width: 680px;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #F2F4F5;
  }
}
