:root {
  font-family: system-ui;
  
}

body {
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 680px;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #F2F4F5;
  }
}
